@charset "ISO-8859-1";
.sorted{
border: 5px;
  background-color: LavenderBlush;
  position: absolute;
  top: 140px;
  align-items:center;
  text-align : center;
  left: 350px;
  padding:15px;
  }
  
.sortedtable{
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  }
.unsorted{
    border: 5px;
    text-align: center;
    background-color: Azure;
    position: absolute;
    align-items:center;
    top: 200px;
  left: 350px;
    padding: 15px;
  }
  

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}
p{
color:blue;
font-size:20px;
} 

form {
  font-size: 30px;
}
.Back{
	top: 50px;
    left: 3%;
    width: 15%;
     position: absolute;
    
    
}
.logout{
	top: 50px;
    left: 95%;
    position: absolute;
    width: 15%;
    
}

input[type="submit"] {
    width: 150px;
    height: 60px;
    font-size: 30px;
  }
input[type="button"]{
	 width: 200px;
    height: 60px;
    font-size: 20px;
}
input[type="text"] {
    height: 40px;
    font-size: 30px;
    color:BurlyWood;
  }
  
 input[type="submit"]:hover {
  background-color: Cornsilk;
}
.fetchtable{
border: 5px;
  background-color: lightblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding:15px;}
  
  
label
{
	text-shadow: 2px 2px 5px red;
}  
.check{
	height : 100vh;
	display : flex;
	align-items : center;
	justify-content : center;
}


.home{
	height : 100vh;
	display : flex;
	flex-direction:column;
	align-items : center;
	justify-content : center;
}

   